# Django-related files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
/staticfiles/
/media/

# Virtual environment
py-env/
ENV/

# Other project-related files
*.pyc
*.pyo
*.DS_Store